<!doctype html>
<title>{% block title %}{% endblock %} - Encounter Creator</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Encounter Creator</h1>
  <ul>
    {% if g.user %}
    <li><span>{{ g.user.username }}</span></li>
    <li><a class="action" href="{{ url_for('main.index') }}">Home</a></li>
    <li><a class="action" href="{{ url_for('parties.parties') }}">Manage Parties</a></li>
    <li><a class="action" href="{{ url_for('monsters.monsters') }}">View Monsters</a></li>
    <li><a class="action" href="{{ url_for('main.settings') }}">Settings</a></li>
    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}
      {% if g.user %}
        <a class="action" href="{{ url_for('main.parties') }}">Manage Parties</a>
        <a class="action" href="{{ url_for('main.monsters') }}">View Monsters</a>
        <a class="action" href="{{ url_for('main.settings') }}">Settings</a>
      {% endif %}
    {% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>