{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Parties{% endblock %}</h1>
  <button type="button" class="btn btn-primary" data-target="#createPartyModal" data-toggle="modal"><i class="far fa-plus-square"></i>&nbsp;New Party</button>
{% endblock %}
{% block content %}
  {% for party in parties %}
    <div class="card">
      <div class="card-body">
        <div class="card-title row">
          <h3 class="col-9">{{ party['name'] }}</h3>
          <div class="col-3">
            <button type="button" class="btn btn-primary float-right" data-target="#editPartyModal" data-toggle="modal" onclick="document.querySelectorAll('.partyID').forEach((element) => element.value='{{ party['id'] }}')"><i class="far fa-edit"></i>&nbsp;Edit</button>
          </div>
        </div>
          <div class="list-group">
          {% for member in party['members'] %}
          <a href="{{ url_for('parties.member', member_id=member.ID) }}" class="list-group-item list-group-item-action">{{ member.Name }}</a>
          {% endfor %}
          <button data-toggle="modal" data-target="#createMemberModal" class="list-group-item list-group-item-action" onclick="document.querySelectorAll('.partyID').forEach((element) => element.value='{{ party['id'] }}')"><i class="far fa-plus-square"></i>&nbsp;New Member</button>
        </div>
      </div>
    </div>
  {% endfor %}

<div class="modal fade" id="createPartyModal" tabindex="-1" role="dialog" aria-labelledby="createPartyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createPartyModalLabel">Create a Party</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{{ url_for('parties.create') }}">
        <div class="modal-body">
          <div class="form-group">
              <label for="name">Party Name</label>
              <input class="form-control" id="name" name="name" maxlength="30" required aria-describedby="nameHelp">
              <small id="nameHelp" class="form-text text-muted">Enter the party name here.</small>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Create Party</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="editPartyModal" tabindex="-1" role="dialog" aria-labelledby="editPartyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPartyModalLabel">Edit Party</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{{ url_for('parties.edit') }}">
        <div class="modal-body">
            <div class="form-group">
              <label for="newName">Party Name</label>
              <input class="form-control" id="newName" name="name" maxlength="30" required aria-describedby="newNameHelp">
              <small id="newNameHelp" class="form-text text-muted">Input the new name here.</small>
            </div>
            <input class="partyID" type="number" name="partyID" hidden>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletePartyModal" data-dismiss="modal"><i class="far fa-trash-alt"></i>&nbsp;Delete</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deletePartyModal" tabindex="-1" role="dialog" aria-labelledby="deletePartyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletePartyModalLabel">Delete Party</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{{ url_for('parties.delete') }}">
        <div class="modal-body">
            Are you sure?
            <input class="partyID" type="number" name="partyID" hidden>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i>&nbsp;Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="createMemberModal" tabindex="-1" role="dialog" aria-labelledby="createMemberModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createMemberModalLabel">Add a Member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{{ url_for('parties.create_member') }}">
        <div class="modal-body">
          <div class="form-group">
            <label for="memberName">Name</label>
            <input class="form-control" id="memberName" name="name" maxlength="50" required aria-describedby="memberNameHelp">
            <small id="memberNameHelp" class="form-text text-muted">Enter the member's name here.</small>
          </div>
          <div class="form-group">
            <label for="class">Class</label>
            <select class="form-control" id="class" name="class" required aria-describedby="classHelp">
              <option value="" selected disabled>--</option>
              <option>Barbarian</option>
              <option>Bard</option>
              <option>Cleric</option>
              <option>Druid</option>
              <option>Fighter</option>
              <option>Monk</option>
              <option>Paladin</option>
              <option>Ranger</option>
              <option>Rogue</option>
              <option>Sorcerer</option>
              <option>Warlock</option>
              <option>Wizard</option>
            </select>
            <small id="classHelp" class="form-text text-muted">Enter the member's class here.</small>
          </div>
          <div class="form-group">
            <label for="level">Level</label>
            <input type="number" class="form-control" id="level" name="level" min="1" max="20" value="1" required aria-describedby="levelHelp">
            <small id="levelHelp" class="form-text text-muted">Enter the member's level here.</small>
          </div>
          <div class="form-group">
            <label for="race">Race</label>
            <select class="form-control" id="race" name="race" required aria-describedby="raceHelp">
              <option value="" selected disabled>--</option>
              <option>Dragonborn</option>
              <option>Dwarf</option>
              <option>Elf</option>
              <option>Gnome</option>
              <option>Half-Elf</option>
              <option>Halfling</option>
              <option>Half-Orc</option>
              <option>Human</option>
              <option>Tiefling</option>
            </select>
            <small id="raceHelp" class="form-text text-muted">Enter the member's race here.</small>
          </div>
          <div class="form-group">
            <label for="alignment">Alignment</label>
            <select class="form-control" id="alignment" name="alignment" required aria-describedby="alignmentHelp">
              <option value="" selected disabled>--</option>
              <option value="LG">Lawful Good</option>
              <option value="NG">Neutral Good</option>
              <option value="CG">Chaotic Good</option>
              <option value="LN">Lawful Neutral</option>
              <option value="TN">True Neutral</option>
              <option value="CN">Chaotic Neutral</option>
              <option value="LE">Lawful Evil</option>
              <option value="NE">Neutral Evil</option>
              <option value="CE">Chaotic Evil</option>
            </select>
            <small id="alignmentHelp" class="form-text text-muted">Enter the member's alignment here.</small>
          </div>
          <input class="partyID" type="number" name="partyID" hidden>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Create New Member</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}