{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ member.Name }} - {{ member.PartyName }}{% endblock %}</h1>
  <a href="{{ url_for('parties.parties') }}" type="button" class="btn btn-primary"><i class="fas fa-arrow-left"></i>&nbsp;Back</a>
  <button type="button" class="btn btn-primary" data-target="#editMemberModal" data-toggle="modal"><i class="far fa-edit"></i>&nbsp;Edit</button>
{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">{{ member.Name }}</h3>
      <h6 class="card-subtitle mb-2 text-muted">The Level {{ member.Level }} {{ alignment }} {{ member.Race }} {{ member.Class }}</h6>
    </div>
    <div class="list-group">
      {% for action in member.Actions %}
        <button class="list-group-item list-group-item-action">{{ action.Name }}</button>
      {% endfor %}
      <button data-toggle="modal" data-target="#createActionModal" class="list-group-item list-group-item-action"><i class="far fa-plus-square"></i>&nbsp;New Action</button>
    </div>
    </div>
  </div>

<div class="modal fade" id="editMemberModal" tabindex="-1" role="dialog" aria-labelledby="createMemberModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createMemberModalLabel">Edit {{ member.Name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{{ url_for('parties.edit_member') }}">
        <div class="modal-body">
          <div class="form-group">
            <label for="memberName">Name</label>
            <input value="{{ member.Name }}" class="form-control" id="memberName" name="name" maxlength="50" required aria-describedby="memberNameHelp">
            <small id="memberNameHelp" class="form-text text-muted">Enter the member's new name here.</small>
          </div>
          <div class="form-group">
            <label for="class">Class</label>
            <select class="form-control" id="class" name="class" required aria-describedby="classHelp">
              <option>Barbarian</option>
              <option>Bard</option>
              <option>Cleric</option>
              <option>Druid</option>
              <option>Fighter</option>
              <option>Monk</option>
              <option>Paladin</option>
              <option>Ranger</option>
              <option>Rogue</option>
              <option>Sorcerer</option>
              <option>Warlock</option>
              <option>Wizard</option>
            </select>
            <small id="classHelp" class="form-text text-muted">Enter the member's new class here.</small>
          </div>
          <div class="form-group">
            <label for="level">Level</label>
            <input value={{ member.Level }} type="number" class="form-control" id="level" name="level" min="1" max="20" value="1" required aria-describedby="levelHelp">
            <small id="levelHelp" class="form-text text-muted">Enter the member's new level here.</small>
          </div>
          <div class="form-group">
            <label for="race">Race</label>
            <select class="form-control" id="race" name="race" required aria-describedby="raceHelp">
              <option>Dragonborn</option>
              <option>Dwarf</option>
              <option>Elf</option>
              <option>Gnome</option>
              <option>Half-Elf</option>
              <option>Halfling</option>
              <option>Half-Orc</option>
              <option>Human</option>
              <option>Tiefling</option>
            </select>
            <small id="raceHelp" class="form-text text-muted">Enter the member's new race here.</small>
          </div>
          <div class="form-group">
            <label for="alignment">Alignment</label>
            <select class="form-control" id="alignment" name="alignment" required aria-describedby="alignmentHelp">
              <option value="LG">Lawful Good</option>
              <option value="NG">Neutral Good</option>
              <option value="CG">Chaotic Good</option>
              <option value="LN">Lawful Neutral</option>
              <option value="TN">True Neutral</option>
              <option value="CN">Chaotic Neutral</option>
              <option value="LE">Lawful Evil</option>
              <option value="NE">Neutral Evil</option>
              <option value="CE">Chaotic Evil</option>
            </select>
            <small id="alignmentHelp" class="form-text text-muted">Enter the member's new alignment here.</small>
          </div>
          <input type="number" name="memberID" value="{{ member.ID }}" hidden>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% block scripts %}
<script>
  document.getElementById('alignment').value = "{{ member.Alignment }}";
  document.getElementById('race').value = "{{ member.Race }}";
  document.getElementById('class').value = "{{ member.Class }}";
</script>
{% endblock %}
{% endblock %}