{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Monsters{% endblock %}</h1>
  <button type="button" class="btn btn-primary" data-target="#createMonsterModal" data-toggle="modal"><i class="far fa-plus-square"></i>&nbsp;New Monster</button>
  <button type="button" class="btn btn-primary" data-target="#deleteMonsterModal" data-toggle="modal"><i class="far fa-plus-square"></i>&nbsp;Delete Monster</button>
  <button type="button" class="btn btn-primary" data-target="#editMonsterModal" data-toggle="modal"><i class="far fa-plus-square"></i>&nbsp;Edit Monster</button>
{% endblock %}
{% block content %}
	<form action="{{url_for('monsters.search')}}">
		<input class="form-control" name="search" placeholder="Search..." autocomplete="off" autofocus="autofocus" type="text">
		</form>
	<div>
		<style>
			td {
				border: 1px solid black;
				padding: 5px;
			  }
		</style>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>CR</th>
					<th>Type</th>
					<th>Book</th>
					<th>Alignment</th>
				</tr>
			</thead>    
			<tbody>
			 {% for monster in monsters %}    
					<tr>
						<td width='287px'>{{monster.Name}}</td>
						<td width='59px'>{{monster.CR}}</td>
						<td width='305px'>{{monster.TypeName}}</td>
						<td width='204px'>{{monster.BookName}}</td>
						<td width='82px'>{{monster.Alignment}}</td>
						
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

<div class="modal fade" id="createMonsterModal" tabindex="-1" role="dialog" aria-labelledby="createMonsterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createMonsterModalLabel">Create a Monster</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{{ url_for('monsters.create') }}">
        <div class="modal-body">
          <div class="form-group">
              <label for="name">Monster Name</label>
              <input class="form-control" id="name" name="name" maxlength="50" required aria-describedby="nameHelp">
              <small id="nameHelp" class="form-text text-muted">Enter the monster name here.</small>
            </div>
		  <div class="form-group">
              <label for="name">Monster CR</label>
			  <input type="number" class="form-control" id="cr" name="cr" min="0" max="30" step="0.125" value="0" required aria-describedby="crHelp">
              <small id="crHelp" class="form-text text-muted">Enter the monster challenge rating here. It should be a value 0-30.</small>
            </div>
	      <div class="form-group">
              <label for="name">Monster Type</label>
			  <input class="form-control" id="type" name="type" maxlength="50" aria-describedby="typeHelp">
              <small id="typeHelp" class="form-text text-muted">Enter the type the monster is.</small>
            </div>
		  <div class="form-group">
              <label for="name">Monster Book</label>
			  <input class="form-control" id="book" name="book" maxlength="50" aria-describedby="bookHelp">
              <small id="bookHelp" class="form-text text-muted">Enter the book name the monster is from.</small>
            </div>
		  <div class="form-group">
              <label for="name">Monster Alignment</label>
			  <select class="form-control" id="alignment" name="alignment" aria-describedby="alignmentHelp">
              <option value="">--</option>
              <option>LG</option>
              <option>LN</option>
              <option>LE</option>
              <option>NG</option>
              <option>TN</option>
              <option>NE</option>
              <option>CG</option>
              <option>CN</option>
              <option>CE</option>
            </select>
			<small id="alignmentHelp" class="form-text text-muted">Enter the monster's alignment here.</small>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Create Monster</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="editMonsterModal" tabindex="-1" role="dialog" aria-labelledby="editMonsterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editMonsterModalLabel">Edit Monster</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{{ url_for('monsters.edit') }}">
        <div class="modal-body">
            <div class="form-group">
              <label for="name">Monster Name</label>
              <input class="form-control" id="name" name="name" maxlength="50" required aria-describedby="nameHelp">
              <small id="nameHelp" class="form-text text-muted">Enter the monster name here.</small>
            </div>
			<div class="form-group">
              <label for="name">New Monster Name</label>
              <input class="form-control" id="newName" name="newName" maxlength="50" aria-describedby="newNameHelp">
              <small id="nameHelp" class="form-text text-muted">Enter the new monster name here.</small>
            </div>
		  <div class="form-group">
              <label for="name">Monster CR</label>
			  <input type="number" class="form-control" id="cr" name="cr" min="0" max="30" step="0.125" aria-describedby="crHelp">
              <small id="crHelp" class="form-text text-muted">Enter the new monster challenge rating here. It should be a value 0-30.</small>
            </div>
	      <div class="form-group">
              <label for="name">Monster Type</label>
			  <input class="form-control" id="type" name="type" maxlength="50" aria-describedby="typeHelp">
              <small id="typeHelp" class="form-text text-muted">Enter the new type the monster is.</small>
            </div>
		  <div class="form-group">
              <label for="name">Monster Book</label>
			  <input class="form-control" id="book" name="book" maxlength="50" aria-describedby="bookHelp">
              <small id="bookHelp" class="form-text text-muted">Enter the new book name the monster is from.</small>
            </div>
		  <div class="form-group">
              <label for="name">Monster Alignment</label>
			  <select class="form-control" id="alignment" name="alignment" aria-describedby="alignmentHelp">
              <option value="">--</option>
              <option>LG</option>
              <option>LN</option>
              <option>LE</option>
              <option>NG</option>
              <option>TN</option>
              <option>NE</option>
              <option>CG</option>
              <option>CN</option>
              <option>CE</option>
            </select>
			<small id="alignmentHelp" class="form-text text-muted">Enter the monster's new alignment here.</small>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteMonsterModal" tabindex="-1" role="dialog" aria-labelledby="deleteMonsterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteMonsterModalLabel">Delete Monster</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{{ url_for('monsters.delete') }}">
        <div class="modal-body">
            <div class="form-group">
              <label for="name">Monster Name</label>
              <input class="form-control" id="name" name="name" maxlength="50" required aria-describedby="nameHelp">
              <small id="nameHelp" class="form-text text-muted">Enter the monster's name to be deleted here.</small>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i>&nbsp;Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}