{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome to Encounter Creator!{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div>
    <li><a class="action" href="{{ url_for('parties.parties') }}">Manage Parties</a></li>
    <li><a class="action" href="{{ url_for('monsters.monsters') }}">View Monsters</a></li>
    <li><a class="action" href="{{ url_for('actions.actions', page_num=1) }}">View Actions</a></li>
    <li><a class="action" href="{{ url_for('main.settings') }}">My Settings</a></li>
  </div>
{% endblock %}