{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My Settings{% endblock %}</h1>
{% endblock %}
{% block content %}
  <h2>My Books</h2>
  <p>These are the books that you own. The encounter creator will only recommend monsters from the checked books below.</p>
  <form action="{{url_for('main.save_books')}}" method="POST">
    {% for book in books %}
    <input type="checkbox" id="{{book.ID}}" name="{{book.ID}}" {% if book.Owned %}checked{% endif %}>
    <label for="{{book.ID}}">{% if book.Name %}{{book.Name}}{% else %}Empty Name{% endif %}</label>
    <br>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Save Changes</button>
  </form>
{% endblock %}